<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    </head>
    <body>
      <div id="main">
          <h1>
            Image Search Abstraction Layer
            </h1>
        <p>
          <h2>
         USAGE:
       </h2>
       <h4>
         Search:
       </h4>
       <code >
          <span class="location" ></span>api/search?q=[exampleText]&amp;offset=[1]
       </code> <br>
       <h4>
         Recent:
       </h4>
       <code >
          <span class="location" ></span>api/latest
       </code> <br>
          </p>

        </div>
        <script src="./client.js"></script>
    </body>
    <footer>
      <a href="https://twitter.com/RoardiLeone">
        Twitter <em>@RoardiLeone</em>
      </a>
    </footer>
</html>
